.CreateTask_outer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(240, 244, 248) ;
    /* background-color: white; */
}

.CreateTask_outer label{
    font-size: 1.4rem;
}

.CreateTask_layout{
    width: 80vw;
    min-height: 90vh;
    border-radius: 10px;
    background-color : rgb(250, 250, 250);
    /* background-color:rgb(240, 244, 248) ; */
    
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    padding: 0 3vw;
    margin: 6vh 0;
}

.Createtask_heading{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.CreateTask_title{
    font-size: 1.6rem;
    height: 6.5vh;
    width: 100%;
    display: flex;
    margin-bottom: 3vh;
}

.CreateTask_title>label{
    margin-right: auto;
    margin-top: auto;
}

.CreateTask_title>input{
    width: 70vw;
    height: 100%;
    font-size: 1rem;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 7px;
}

.CreateTask_desc{
    margin-bottom: 3vh;
}

.CreateTask_date{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    gap: 1vh;
}

.Date_value{
    display: flex;
    gap:1vw;
}

.time-input{
    width: 3vw;
}

.CreateTask_date>label{
    margin-right: 3vw;
}

.CreateTask_files{
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
}


.CreateTask_files label{
    margin-right:3vw;
}

.files_inputed{
    margin-top: 1vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 1vh;
}

.files_inputed>div>span{
    margin-right: 2vw;
}

.Createtask_Button{
    font-size: 1.1rem;
    min-width: 9vw;
    height: 5vh;
    border-radius: 5px;
    background-color: #4343a3;
    color: aliceblue;
}

.CreateTask_links{
    margin-bottom: 3vh;
}

.CreateTask_links>label{
    margin-right: 3vw;
}

.CreateTask_links>input{
    height: 5vh;
    width: 20vw;
    font-size: 1rem;
    padding-left: 0.5vw;
    margin-right: 2vw;
}

@media screen and (max-width:900px) {
    .CreateTask_outer label{
        font-size: 1.2rem;
    }
    .CreateTask_layout{
        width: 90vw;
    }
    .time-input{
        width: 5vw;
    }
}