.button-group button{
    background-color: aliceblue;
    color: black;
    width: 35px;
    height: 35px;
    font-size: 1.1rem;
}

.button-group{
    display: flex;
    gap:0.5vw;
    flex-wrap: wrap;
}


.button-group .is-active{
    background-color: rgb(189, 187, 211);
}
